// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-20: rgba(0, 0, 0, 0.2);
$color-dark-carnation: #ff5773;
$color-battleship-grey: #535652;

// Typography
$ff-main: "Oswald", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
